{% extends 'includes/base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block body %}
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col" style="color:#FFFFFF">Категория</th>
      <th scope="col" style="color:#FFFFFF">Количество постов</th>
    </tr>
  </thead>
  <tbody>
  {% for category in categories %}
    <tr>
        <td><a style="color:#FFFFFF" href="{% url 'posts-list' %}?category={{ category.slug}}">{{ category.name }}</a></td>
      <td style="color:#FFFFFF">{{ category.posts.count }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock body %}
